{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block body %}
<div style="  display: flex;flex-wrap: wrap; position:absolute;left:50px" id="div1"></div>
<a href="/adminPAGE" style="position: absolute; top:500px">اضغط</a>
<script>
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
        xmlHttp.open("GET", theUrl, true); 
        xmlHttp.send();
}

    window.addEventListener("load", function () {
        console.log('ibraji,')
        httpGetAsync("http://127.0.0.1:3000/getDATA", function (r) {
        data= JSON.parse(r)
            console.log(data)
        for (column=0; column< data.length ; column++){    
             createDIV=document.createElement("div");
            createDIV.className="div";
            
            createDIV.style = "width:100px"
            createH4= document.createElement("h4");
            createH4.appendChild(document.createTextNode(data[column]["services_id"] + ":رقم الخدمة"))
            createH3 = document.createElement("h3");
            createH3.appendChild(document.createTextNode(data[column]["title"]))
            createP = document.createElement("p");
            createP.appendChild(document.createTextNode(data[column]["number_of_beneficiaries"] + ":عدد المستفيدين"))   
            createbut = document.createElement("button");
            createbut.className="click"
            url= "service/"+`${ data[column]['services_id'] }`
            createbut.setAttribute("onclick" , "window.open(`${url}`)")
            createbut.id=`${ data[column]["services_id"] }`
            createbut.appendChild(document.createTextNode("حجز الخدمة"))  
            createDIV.appendChild(createH4); createDIV.appendChild(createH3); createDIV.appendChild(createP); createDIV.appendChild(createbut); 
            document.getElementById("div1").append(createDIV)                     
        }
    })
})
</script>
{% endblock %}
