<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device, initial-scale=1.0"/>
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link  rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/userForm.css') }}">
        <title>type information</title>
    </head>
    <body>
        <div class="container">
            <div class="title">Type Information</div>
            <form  action="/input.Data.OF.theType" method="POST" enctype="multipart/form-data" onsubmit="window.alert('The type has been successfully added')">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details" for="typeName">Type Name</span>
                        <input type="text" placeholder="Enter Type Name" required name="typeName" id="typeName">
                    </div>

                    <div >
                        <span for="imagePath" >Suitable Image</span>
                        <input type="file" name="file" required id="imagePath" class="custom-file-input">
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Register" id="bt">
                </div>
            </form>
        </div>
        
       
    </body>
</html>
