<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device, initial-scale=1.0"/>
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link  rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/userForm.css') }}">
        <title>personal information</title>
    </head>
    <body>
        <div class="container">
            <div class="title">Personal Information</div>
            <form action="/Storage-of-DonorData" method="POST" onsubmit="alert('Your request has been successfully registered, Thank you')">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" required name="name" id="name">

                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="Enter your Email" required name="email" id="email">

                    </div>
                    <div class="input-box">
                        <span class="details">phone Number</span>
                        <input type="number" placeholder="Enter your Number" required name="phone" id="phone" minlength="5">

                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" placeholder="Enter your address" required name="address" id="address">
                    </div>

                    <div class="input-box">
                        <span class="details">donation</span>
                        <input type="number" placeholder="Enter donation" required name="donation" id="donation">
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Send" id="bt">
                </div>
            </form>
        </div>

        <script>
            // document.getElementById('bt').addEventListener('click',function(){
            //     alert('Your request has been successfully registered, Thank you')
            // })
        </script>
        
    </body>
</html>