<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device, initial-scale=1.0"/>
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link  rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ownPage.css') }}">
        <title>Own Page</title>
    </head>
    <body>
        <main class="table">
       
            <section class="table__header">
                <h1>Your Orders</h1>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Request Service</th>
                            <th>Order Date</th>
                            <th>Status</th>
                            <th>Order Evaluation</th>
        
                        </tr>
                    </thead>
                    <tbody id="full-Column">
                    </tbody>
                </table>
        
            </section>
        
        </main>








        <script>
            function postRequest(theUrl, objDATA, callback) {
                var xm = new XMLHttpRequest();
                xm.onreadystatechange = function () {
                    if (xm.readyState == 4 && xm.status == 200) {
                        callback(this.responseText)
                    }
                }
                xm.open("POST", theUrl);
                xm.send(JSON.stringify(objDATA))
            }

            userName=`{{Username}}`;

            window.addEventListener("load",function(){
                obj={
                    'userName':userName
                }
                postRequest("http://127.0.0.1:3000/getUserRequest",obj,function(r){
                    orders=JSON.parse(r);
                    if (orders !=''){
                        var container=document.getElementById("full-Column");
                        for (column = 0; column < orders.length; column++) {
                            if(orders[column]["orderStatus"]=="cancelled"){
                                var status="status cancelled";
                            }
                            if(orders[column]["orderStatus"]=="Pending"){
                                var status="status comment";
                            
    
                            }
                            if(orders[column]["orderStatus"]=="successfully"){
                                var status="status successed";

                            }
                            if(Number(orders[column]["rating"])==0){
                                var starsList=`
                                
                                <li class="rating-item active" id="1" requestId='${orders[column]["requestId"]}'></li> 
                                <li class="rating-item active" id="2" requestId='${orders[column]["requestId"]}'></li> 
                                <li class="rating-item active" id="3" requestId='${orders[column]["requestId"]}'></li> 
                                <li class="rating-item active" id="4" requestId='${orders[column]["requestId"]}'></li> 
                                <li class="rating-item active" id="5" requestId='${orders[column]["requestId"]}'></li> 
                                `
                                
                            }
                            if(Number(orders[column]["rating"])>0){
                                var starsList=``
                            
                                for(let i=1;i<=Number(orders[column]["rating"]);i++){
                                    let d=`<li class="star-item"></li>\n`
                                    starsList+=d

                                    
                                }
                                
                            }
                            var content=`
                            <tr>
                                <td>${column+1}</td>
                                <td>${orders[column]["requestService"]}</td>
                                <td>${orders[column]["orderDate"]}</td>
                                <td class="st"><p class="${status}">${orders[column]["orderStatus"]}</p></td>
                                <td id="rating"><ul class="rating" >${starsList}</ul></td>
                            
                            </tr>`
                            container.innerHTML+=content;
                        
                        }
                    }
                })
           
        
            });
            document.body.addEventListener('click',function(e){
                if(e.target.className=='rating-item active'){
                    
                    obj={
                        'requestId':Number(e.target.getAttribute('requestId')),
                        'starsNumber':Number(e.target.id)
                    }
                    fetch('http://127.0.0.1:3000/updateRating',{method:'POST', body:JSON.stringify(obj)})
                    window.location.reload()
              
                    
                    
                    
                }
                
            })
            
      
        </script>
    </body>
</html>